<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gun Super Peer</title>
  </head>
  <body>
    The magic of Gun DB is happening on this website.
    Find a browser client for the right application,
    to access data in this P2P network.

    Or clone this repo and start your own docker
    super peer to expand the gun network.

    <a href="https://github.com/dletta/superPeer">Super Peer</a>
    <a href="https://github.com/amark/gun">Find out more about Gun</a>
  </body>
</html>
